@model DrunkSquad.Models.Faction.FactionStatsOverview

@{
    ViewData["Title"] = "Stats Oveview";
}

<div>
    <div class="container">
        <div class="row">
            <h1><b>Stats Overview</b></h1>
        </div>

        <div class="row">
            <table class="table">
                <tr>
                    <th>Username</th>
                    <th>Strength</th>
                    <th>Defense</th>
                    <th>Speed</th>
                    <th>Dexterity</th>
                    <th>Manual Labor</th>
                    <th>Intelligence</th>
                    <th>Endurance</th>
                </tr>
                @{
                    foreach(var stat in Model.Stats) {
                        var battle = stat.BattleStats;
                        var working = stat.WorkingStats;

                        <tr>
                            <td>@stat.Member</td>
                            <td>@(battle is not null ? battle.Strength.ToString("N0") : "Unavailable")</td>
                            <td>@(battle is not null ? battle.Defense.ToString("N0") : "Unavailable")</td>
                            <td>@(battle is not null ? battle.Speed.ToString("N0") : "Unavailable")</td>
                            <td>@(battle is not null ? battle.Dexterity.ToString("N0") : "Unavailable")</td>
                            <td>@(working is not null ? working.ManualLabor.ToString("N0") : "Unavailable")</td>
                            <td>@(working is not null ? working.Intelligence.ToString("N0") : "Unavailable")</td>
                            <td>@(working is not null ? working.Endurance.ToString("N0") : "Unavailable")</td>
                        </tr>
                    }
                }
            </table>
        </div>
    </div>
</div>
