@model DrunkSquad.Models.Faction.FactionCrimes

@using DrunkSquad.Logic.Extensions;

@{
    ViewData ["Title"] = "OC Overview";
}

<div>
    <div>
        <div>Total Money Gained: @Model.TotalMoneyGained.ToString("C")</div>
        <div>Total Rep Gained: @Model.TotalRepGained</div>
        <div>Success Rate: @Model.SuccessRate.ToString("P") </div>
    </div>
    
    <table class="table">
        <tr>
            <th>Name</th>
            <th>Status</th>
            <th>Time Started</th>
            <th>Time Ready</th>
            <th>Participants</th>
            <th>Money Gained</th>
            <th>Respect Gained</th>
        </tr>
        @foreach(var crime in Model.Crimes) {
            <tr>
                <td>@crime.Name</td>
                <td>@crime.CurrentStateString</td>
                <td>@DateTimeOffset.FromUnixTimeSeconds(crime.TimeStarted).UtcDateTime.ToString()</td>
                <td>@DateTimeOffset.FromUnixTimeSeconds(crime.TimeReady).UtcDateTime.ToString()</td>
                <td>@string.Join(", ", crime.ParticipantNames)</td>
                @{
                    if(crime.Initiated) {
                        <td>@crime.MoneyGain</td>
                        <td>@crime.RespectGain</td>
                    }
                    else {
                        <td>Waiting...</td>
                        <td>Waiting...</td>
                    }
                }
            </tr>
        }
    </table>
</div>