@model DrunkSquad.Models.Faction.FactionCrimes

@using DrunkSquad.Logic.Extensions;

@{
    ViewData ["Title"] = "OC Overview";
}

<div>
    <table>
        <tr>
            <th>Name</th>
            <th>Status</th>
            <th>Time Started</th>
            <th>Time Ready</th>
            <th>Participants</th>
            <th>Money Gained</th>
            <th>Respect Gained</th>
        </tr>

        @foreach(var crime in Model.Crimes) {
            <tr>
                <th>@crime.Name</th>
                <th>
                    @{
                        var display = string.Empty;

                        if(crime.Initiated) {
                            if(crime.Success) {
                                display = "Success";
                            }
                            else {
                                display = "Failed";
                            }
                        }
                        else {
                            var readyTimeOffset = DateTimeOffset.FromUnixTimeSeconds(crime.TimeReady);
                            var readyTime = readyTimeOffset.UtcDateTime;

                            if(DateTime.UtcNow < readyTime) {
                                display = "Not Ready";
                            }
                            else {
                                display = "Ready";
                            }
                        }

                        <p>@display</p>
                    }
                </th>
                <th>@DateTimeOffset.FromUnixTimeSeconds(crime.TimeStarted).UtcDateTime.ToString()</th>
                <th>@DateTimeOffset.FromUnixTimeSeconds(crime.TimeReady).UtcDateTime.ToString()</th>
                <th>@{
                        var participants = new List<string>();

                        foreach(var participant in crime.CrimeParticipants) {
                            participants.Add(participant.Participant.Name);
                        }
                        <p>@string.Join(',', participants)</p>
                    }</th>
            </tr>
        }
    </table>
</div>