@model DrunkSquad.Models.Faction.UserCrimes

@{
    ViewData ["Title"] = $"{Model.Username}'s Crime Stats";
}

<div>
    <div class="container">
        <div class="row">
            <div class="col">
                <h3>Faction Stats</h3>
                <div><b>Total Money Gained</b>: @Model.TotalMoneyGained.ToString("C")</div>
                <div><b>Total Rep Gained</b>: @Model.TotalRepGained</div>
                <div><b>Success Rate</b>: @Model.SuccessRate.ToString("P") </div>
            </div>
            <div class="col align-text-center">
                <h3>Current OC</h3>
                <div><em>@Model.CurrentOC.Name</em></div>
                <div><b>Status</b>: @Model.CurrentOC.CurrentStateString</div>
                @{
                    var moneyString = "";
                    var repString = "";

                    if(Model.CurrentOC.Initiated) {
                        if(Model.CurrentOC.Success) {
                            moneyString = Model.CurrentOC.MoneyGain.ToString();
                            repString = Model.CurrentOC.RespectGain.ToString();
                        }
                        else {
                            moneyString = "Failed...";
                            repString = "Failed...";
                        }
                    }
                    else {
                        moneyString = "Waiting...";
                        repString = "Waiting...";
                    }
                    <div><b>Money Gained</b>: @moneyString</div>
                    <div><b>Rep Gained</b>: @repString</div>
                }
                @{
                    var timeStarted = Model.CurrentOC.TimeStarted;
                    var timeReady = Model.CurrentOC.TimeReady;

                    var startDateTime = DateTimeOffset.FromUnixTimeSeconds(timeStarted).UtcDateTime;
                    var readyDateTime = DateTimeOffset.FromUnixTimeSeconds(timeReady).UtcDateTime;

                    <div><b>Started at:</b> @startDateTime.ToString()</div>
                    <div><b>Ready at:</b> @readyDateTime.ToString()</div>
                }
            </div>

            <div class="col align-text-center">
                <h3>Crime Stats</h3>
                @{
                    var stats = Model.CrimeStats;

                    if(stats.CrimesVersion == 1) {
                        <div>Auto Theft: @stats.Crimes.AutoTheft</div>
                        <div>Computer Crimes: @stats.Crimes.ComputerCrimes</div>
                        <div>Drug Deals: @stats.Crimes.DrugDeals</div>
                        <div>Fraud Crimes: @stats.Crimes.FraudCrimes</div>
                        <div>Murder: @stats.Crimes.Murder</div>
                        <div>Theft: @stats.Crimes.Theft</div>
                        <div>Other: @stats.Crimes.Other</div>
                        <div><b>Total</b>: @stats.Crimes.Total</div>
                    }
                    else {
                        <div>Counterfeiting: @stats.Crimes.Counterfeiting</div>
                        <div>Cybercrime: @stats.Crimes.Cybercrime</div>
                        <div>Extortion: @stats.Crimes.Extortion</div>
                        <div>Fraud: @stats.Crimes.Fraud</div>
                        <div>Illegal Production: @stats.Crimes.IllegalProduction</div>
                        <div>Illicit Services: @stats.Crimes.IllicitServices</div>
                        <div>Theft: @stats.Crimes.Theft</div>
                        <div>Vandalism: @stats.Crimes.Vandalism</div>
                        <div><b>Total</b>: @stats.Crimes.Total</div>
                    }
                }
            </div>
        </div>
    </div>
 </div>